In [ ]:
import MySQLdb 
db_con = MySQLdb.connect(host="sql12.freemysqlhosting.net", user="sql12612244", password="D99HMEANrX", database="sql12612244")
cur = db_con.cursor()

In [ ]:
cur.execute("DROP TABLE IF EXISTS emp")
sql = "create table emp(id Int Primery Key Not Null, name Char(30) Not Null, age Int Not Null)"
cur.execute(sql)